.footer {
  background: #1c1e20;
  color: white;
  padding: 1em;
}

.footer a {
  color: white;
}

.footer_ul {
  list-style: none;
  color: white;
  padding: 0;
  margin: 1rem auto;
  width: 100%;
  max-width: 300px;
}

.footer_ul li {
  margin-bottom: 10px;
}
.footer_ul a {
  display: flex;
  justify-content: space-between;
}
.footer .flexColumn {
  text-align: center;
}
