.projectBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}

.image {
  z-index: 1;
  width: 100%;
  max-width: 500px;
  height: auto;
}
.descriptionBox {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.contentbox {
  /* background: white; */
  padding: 2em 0;
  width: 100%;
  color: #1c1e20;
}
@media (min-width: 550px) {
  .projectBox {
    flex-wrap: nowrap;
  }
  .image {
    width: 50%;
  }
  .descriptionBox {
    width: 50%;
  }
  .contentbox {
    padding-left: 2em;
  }
}

.backgroundText {
  z-index: 0;
  position: absolute;
  top: 10px;
  right: -10vw;
  color: #00000015;
  font-size: 200px;
  font-weight: 900;
  text-align: right;
  line-height: 0.9;
}

.featuredWork {
  margin-top: 30rem;
}
