*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 98vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
.container {
  padding: 0 1rem;
  /* margin: 1rem; */
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  max-width: 40em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .container {
    margin: 0;
  }
}
.container a {
  color: 000;
  text-decoration: none;
  transition: all 0.25s ease;
}
.container a:hover {
  transition: all 0.25s ease;
  opacity: 0.7;
}

h1,
h2,
h3 {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: -1.2px;
  margin: 0 0 0.75em 0;
  line-height: 1.2;
}
h1 {
  font-size: 32px;
  font-weight: 800;
}
h2,
h3 {
  font-weight: 600;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0 0 1em 0;
}

pre {
  position: relative;
  overflow-x: auto;
  max-width: 36rem;
  margin: 2rem auto;
  border-radius: 10px;
  /* padding: 1em 1em 0 0 !important; */
}

@media (max-width: 650px) {
  pre {
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  pre {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  pre {
    max-width: 300px;
  }
}

.flexColumns {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 1440px;
  width: 100%;
}

.flexColumn {
  padding: 2rem;
  width: 100%;
}
.alignSelfCenter {
  align-self: center;
}
.text-right {
  text-align: right;
}
@media (max-width: 900px) {
  .flexColumns {
    flex-direction: column;
  }
  .flexColumn p {
    max-width: none;
  }
  .flexColumn {
    padding: 1rem;
  }
}
@media (max-width: 900px) {
  .flexColumn {
    padding: 0.5rem;
  }
}
